DATABASE_URL=postgres://user:password@localhost:5432/your_db
CG_URL=https://api.coingecko.com/api/v3
CG_KEY=my_cg_key
JWT_SECRET=my_very_nice_secret
RUST_LOG=portfolio_tracker_backend=debug,tower_http=debug,sqlx=warn
JSON_LOGS=false